---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="fine-title">The Pulsar</h3>
<p>
  <img src="/images/projekcija-hologram-formaviva.jpg" / class="pieces-image">
  <br>
  <small>Multi-layered projection built for Formaviva's events (fabric/wood/projector)</small>
</p>

<h3 class="fine-title">Farewell</h3>
<p>
  <img src="/images/rocket.png"/ class="pieces-image">
  <br>
  <small>Rocket built for Formaviva's events (styrofoam/plastic/LED)</small>
</p>

<h3 class="fine-title">Fibonacci</h3>
<p>
  <img src="/images/fibonacci-clock.png"/ class="pieces-image">
  <br>
  <small>Fibonacci clock (concrete/LED/micro controller)</small>
</p>

<h3 class="fine-title">Prototyp2</h3>
<p>
  <img src="/images/prototyp2.jpg"/ class="pieces-image">
  <br>
  <small>Nightstand lamp (concrete/incadescent/dimmer)</small>
</p>

<br>
<h3 class="fine-title">A Small Universe</h3>
<p>
  <img src="/images/constellation.png" class="pieces-image"/>
  <br>
  <small>Artwork (concrete/foam/golden flakes)</small>
</p>

<br>
<h3 class="fine-title">Prognosis for Slovenia</h3>
<p>
  <img src="/images/prognosis.png" class="pieces-image"/>
  <br>
  <small>Computer montage</small>
</p>

<br>
<h3 class="fine-title">iFrame</h3>
<p>
  <img src="/images/iframe.png" class="pieces-image"/>
</p>

<br>
<h3 class="fine-title">so easy</h3>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Programming is easy like riding a bike. Except the bike is on fire and you&#39;re on fire and everything is on fire and you&#39;re actually in hell</p>&mdash; jürgen (@matixmatix) <a href="https://twitter.com/matixmatix/status/537607604743438337">November 26, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



<!-- {% include paginator.html %} -->
