---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="fine-title">farewell</h3>
<p>
  <img src="/images/rocket.png"/ class="pieces-image">
</p>

<h3 class="fine-title">fibo</h3>
<p>
  <img src="/images/fibonacci-clock.png"/ class="pieces-image">
</p>

<h3 class="fine-title">prototyp2</h3>
<p>
  <img src="/images/prototyp2.jpg"/ class="pieces-image">
</p>

<br>
<h3 class="fine-title">constellation</h3>
<p>
  <img src="/images/constellation.png" class="pieces-image"/>
</p>

<br>
<h3 class="fine-title">prognosis for Slovenia</h3>
<p>
  <img src="/images/prognosis.png" class="pieces-image"/>
</p>

<br>
<h3 class="fine-title">iFrame</h3>
<p>
  <img src="/images/iframe.png" class="pieces-image"/>
</p>

<br>
<h3 class="fine-title">so easy</h3>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Programming is easy like riding a bike. Except the bike is on fire and you&#39;re on fire and everything is on fire and you&#39;re actually in hell</p>&mdash; jürgen (@matixmatix) <a href="https://twitter.com/matixmatix/status/537607604743438337">November 26, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



<!-- {% include paginator.html %} -->
