{% include base_path %}

<meta charset="utf-8">
<meta name="description" content="Matic Jurglič is a computer person who specializes in avant-garde internet applications." />

{% include seo.html %}

<link href="{{ base_path }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

<link rel="icon" type="image/png" href="/favicon.png">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<style>
  article {
    font-family: 'Droid Serif', serif;
  }

  .archive__item-title {
    font-family: 'Droid Serif', serif;
  }
  .single-poem p {
    margin: 0;
    padding: 0;
  }
  .sidebar {
    opacity: 1 !important;
  }

  .masthead__inner-wrap {
    text-transform: lowercase;
  }

  .greedy-nav .visible-links a:before {
    display: none;
  }

  .author__urls a {
    text-transform: lowercase;
  }

  .sidebar p, .sidebar li {
    font-family: 'Merriweather', serif !important;
  }

  .site-nav {
    font-family: 'Merriweather', serif !important;
  }

  .nav-button {
    display: inline-block;
    visibility: visible;
    position: relative !important;
    color: initial !important;
    margin-right: 5px !important;
  }

  .masthead__menu-item {
    display: inline-block !important;
  }

  .short-poem p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  .inline-block {
    display: inline-block;
  }

  p.about {
    font-family: 'Merriweather', serif !important;
    width: 70%;
    font-size: 14px;
  }

  p.about a {
    text-decoration: underline;
  }

  .item-about {
    font-family: 'Merriweather', serif !important;
    font-size: 15px;
  }

  .item-about a {
    text-decoration: underline;
  }

  .fine-title {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    font-size: 1em;
    color: #303030;
    font-family: 'Merriweather', serif !important;
    border-bottom: 1px solid #aeaeae !important;
    margin-bottom: 1em;
  }

  .sidebar-radio {
    margin-right: 5px !important;
  }

  #main {
    margin-top: 1em !important;
  }

  .page__title {
    font-family: 'Merriweather', serif !important;
  }

  .author__urls {
    margin-top: 0px;
  }

  .author__urls li {
    margin-bottom: -1px !important;
    font-size: 14px !important;
  }

  .author__urls li input {
    margin-right: 6px !important;
  }

  .book-ad {
    font-size: 13px;
    margin-top: 18px;
    font-family: 'Merriweather', serif !important;
    position: fixed;
    top: 90px;
    right: 5%;
    width: 130px;
  }

  .book-ad a {
    color: tomato;
  }

  .book-ad-image-link img {
    margin-top: 12px;
    width: 100px !important;
    display: block;
  }

  .book-ad-navbar {
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    margin-left: 14px;
    margin-top: -10px;
    display: none;
  }

  .pieces-image {
    max-width: 480px;
  }

  @media (max-width: 650px) {
    .book-ad-navbar {
      display: none;
    }
  }

  @media (max-width: 800px) {
    .pieces-image {
      width: 100% !important;
    }
  }

  @media (max-width: 1024px) {

    .book-ad-navbar {
      display: inline-block;
    }

    p.about {
      width: 100%;
    }

    .person a {
      display: inline-block;
    }

    .author__content {
      display: inline-block;
      width: 64%;
    }

    .author__urls-wrapper {
      display: inline-block;
    }
  }

  @media (max-width: 820px) {
    .book-ad {
      display: none;
    }
  }

</style>

<meta http-equiv="cleartype" content="on">
