<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

<script>
  $(document).ready(function(){
    $('button:contains("lines")').hide();
    $('[data-lang=slo]').hide();
  });

  $('input[name=lang]').change(function(e){
    var isSlo = e.target.value === "slo";
    if (isSlo) {
      $('[data-lang=slo]').show();
      $('[data-lang=eng]').hide();
    } else {
      $('[data-lang=eng]').show();
      $('[data-lang=slo]').hide();
    }
  });

  setupGiveEmail();
</script>
